* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #333399, #ff00cc);
}
.container {
    display: flex;
    flex-wrap: wrap;
    list-style: none; /* Removes the bullet points */
}

.project-box {
    text-decoration: none;
    width: 200px;
    height: 100px;
    margin: 10px;
    color: black; /* This is where the color of the text is set */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 7px;
    font-size: 20px;
    background-color: white;
}
.project-box:hover {
    background-color: green;
}


html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
/****************EXTENDED DIV IS HERE*****************/
#main-content {
    background-color: #483d8b;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    height: 100%;
}
.board {
    flex-grow: 1;
    overflow: auto;  /* To allow scrolling if content inside gets too big */
}
/* ---- HEADER ---- */
#header {
    background-color: #35339a;
    flex-shrink: 0; /* Prevents shrinking */
}
.delete-project{
    cursor: pointer;
}
.delete-project:hover{
    color: red;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}