<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<html>
<body>
<h2>Welcome to the Dashboard!</h2>

<div th:if="${user}">
    <p>
        Welcome back, <span th:text="${user.firstName}">User</span> <span th:text="${user.lastName}">User</span>!
    </p>

    <p th:if="${projects}">
        Your projects:
    <ul>
        <li th:each="project : ${projects}">
            <a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.name}">Project Name</a>
        </li>
    </ul>
    </p>

    <a th:href="@{/project/new}">Create a new project</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>





