<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/Css/homepage.css">
</head>
<html>
<body>


<div id="main-content">
    <div id="header">
        <a th:href="@{/project/new}" style="color: white">Create a new project</a>
        <a style="color : yellow">Plan Me! </a>
        <a th:href="@{/login}" style="color: white">Logout</a>

    </div>

<div th:if="${user}">
    <p th:if="${projects}">
    <ul class="container">
        <li th:each="project : ${projects}">
            <a th:href="@{/projects/{id}(id=${project.id})}" class="project-box">
                <span th:text="${project.name}" id="nameSpan"></span>
                <span th:text="${project.deadline}" id="deadlineSpan"></span>
            </a>

        </li>
    </ul>
    </p>
</div>

</body>
</html>





