<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Plan Me!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!--  Both libraries are downloaded-->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/Css/MainContent.css">
  <link rel="stylesheet" type="text/css" href="/Css/ProjectLeftSide.css">
  <link rel="stylesheet" type="text/css" href="/Css/ProjectTasks.css">
  <link rel="stylesheet" type="text/css" href="/Css/ProjectBar.css">

  <script src="/JS/Task.js" defer></script>
  <script src="/JS/Bar.js" defer></script>
  <script src="/JS/Project.js" defer></script>
  <script src="/JS/UpdateTask.js" defer></script>
  <script src="/JS/DragBar.js" defer></script>
  <script src="/JS/WebSocket.js" defer></script>
</head>
<body>
<div id="main-content">
  <input type="hidden" id="projectDeadline" th:value="${project.deadline}"/>
  <input type="hidden" id="projectId" th:value="${project.id}"/>
  <input type="hidden" id="userEmail" th:value="${user.email}"/>

  <div id="header">
    <h2 th:text="${project.name}" id="ProjectDetailName" data-project-id="${project.id}"
        onclick="activateUpdateProjectName(this)"></h2>
    <h2 id="deadlineResult"></h2>
    <a th:href="@{/homepage}" style="color: black">Go Back</a>
  </div>
  <div id="left-sidebar">
    <p id="user-name" th:text="${user.firstName + ' ' + user.lastName}"></p>
    <i id="delete-project-button" th:attr="data-project-id=${project.id}"
       onclick="deleteProject(this)">Delete Project</i>

    <div id="member_list_container">
      <p id="toggleMembers" class="closed">See all members:</p>
      <div id="membersList" class="hidden">
        <p id="members_list_p"></p>
      </div>
      <form id="add-member-form">
        <label for="new-member-email"></label><input type="text" id="new-member-email" placeholder="New Member Email">
        <button type="submit">Add Member</button>
      </form>
    </div>
    <div id="myTasksContainer">
      <p id="seeAssignTasks" class="closed">Show my tasks:</p>
      <div id="listOfAssignedTasks" class="hidden">
        <p id="assignedTasks"></p>
      </div>
    </div>
  </div>

  <form class="form">
    <button type="button" onclick="searchTask()">
      <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
        <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
              stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </button>
    <label for="search-task-name"></label><input class="input" placeholder="Find task by name" required="" type="text" id="search-task-name"
                                                 onkeypress="return handleKeyPress(event)">
    <button class="reset" type="button" onclick="clearAndSearch()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
           stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </form>

  <div class="board">
    <div class="lanes">
      <th:block th:each="bar, iterStat : ${project.bars}">
        <div class="bar-container">
          <div class="anotherDiv">
            <div class="swim-lane" th:id="${bar.name}"
                 th:attr="data-bar-id=${bar.id},data-bar-position=${(iterStat.index + 1)}">
              <div class="bar-header">
                  <div class="bar-name-wrapper" th:attr="data-bar-id=${bar.id}" onclick="activateUpdateBarName(this)">
                    <h3 class="heading" th:text="${#strings.toUpperCase(bar.name)}"></h3>
                  </div>
                  <i class="fas fa-times delete-bar" th:attr="data-bar-id=${bar.id}" onclick="deleteBar(this)"></i>
                </div>
              <div th:each="task : ${bar.project.tasks}"
                   th:classappend="${task.priority == 1} ? 'priority-one' : (${task.priority == 2} ? 'priority-two' : 'priority-three')"
                   th:if="${task.state.toString() == bar.name}"
                   class="task"
                   th:attr="data-task-id=${task.id}, data-task-position=${task.position}, data-task-name=${task.name}">

                <span class="priority-label"
                       th:classappend="${task.priority == 1} ? 'priority-one' : (${task.priority == 2} ? 'priority-two' : 'priority-three')"
                       th:text="${task.priority == 1} ? 'LOW' : (${task.priority == 2} ? 'MEDIUM' : 'HIGH')">
                </span>

                <p id="task-name" th:text="${task.name}"
                   onclick="editTaskName(this)"
                   th:attr="data-task-id=${task.id}" >
                </p>
                <div class="additional-content" th:attr="data-task-id=${task.id}" onclick="openDescriptionBox(this)">
                  <p class="task-description-hidden" th:text="${task.description}" style="display:none;"></p>
                </div>
                <div class="task-actions">
                  <div class="right-side-actions">
                    <div class="user-dropdown">
                        <i class="fas fa-user" onclick="toggleUserDropdown(this)"></i>
                      <div class="user-dropdown-content" style="display: none;">
                        <a  href="#" th:text="'Undefined'" th:onclick="'assignUserToTask(this,' + ${task.id} + ')'"></a>
                        <th:block th:each="user : ${project.members}">
                          <a  href="#" th:text="${user.email}" th:onclick="'assignUserToTask(this,' + ${task.id} + ')'"></a>
                        </th:block>
                      </div>
                    </div>
                    <i class="fas fa-times delete-task" th:attr="data-task-id=${task.id}" onclick="deleteTask(this)"></i>
                    <p class="task-priority" th:text="${task.priority}" onclick="createPriorityDropdown(this)" th:attr="data-task-id=${task.id}"></p>
                  </div>
                </div>
            </div>
              <div class="form-container" style="display:none;">
                <form id="add-task-form">
                  <label for="new-task-name"></label><input type="text" id="new-task-name" placeholder="Issue name" />
                  <div id="priority-section">
                    <label for="task-priority"></label>
                    <select id="task-priority" name="priority">
                      <option th:value="1">1</option>
                      <option th:value="2">2</option>
                      <option th:value="3">3</option>
                    </select>
                    <button type="submit" class="submit-task-btn"><i class="fas fa-check"></i></button>
                  </div>
                </form>
              </div>
              <a class ="open-form-btn" href="#" role="button">
                <i class="fas fa-plus"></i> Add Issue
              </a>
           </div>
          </div>
        </div>
      </th:block>
      <div id="add-bar-form-container" style="display:none;">
        <form id="add-bar-form">
          <label for="new-bar-name"></label><input type="text" id="new-bar-name" placeholder="Add Card" />
          <button type="button" id="submitBarForm" class="tick-button"><i class="fas fa-check"></i></button>
        </form>
      </div>
      <a id="open-bar-form-btn" href="#" role="button" style="text-decoration: none; color: black;">
        <i class="fas fa-plus fa-lg"></i><span style="opacity: 0;">.</span>
      </a>
    </div>
  </div>
</div>

<div id="taskDescriptionOverlay">
  <div id="taskDescriptionBox">
    <h3 id="taskNameShow"></h3>
    <div id="editor-toolbar"></div>
    <div id="editor" style="height: 80%; margin-top: 10px;"></div>

    <button class="saveDescBtn" onclick="saveDescription()">Save</button>
    <button class="closeDescBtn" onclick="closeDescriptionBox()">Close</button>
  </div>
</div>
</body>
</html>