<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Plan Me!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/js/tasks.js" defer></script>
  <script src="/js/bar.js" defer></script>
  <script src="/js/project.js" defer></script>
  <script src="/js/updateTask.js" defer></script>
  <script src="/js/dragBar.js" defer></script>

</head>
<body>
<div id="main-content">
  <div id="header">
    <h2 th:text="${project.name}"></h2>
    <form id="add-member-form">
      <input type="text" id="new-member-email" placeholder="New Member Email">
      <button type="submit">Add Member</button>
    </form>
    <i class="delete-project" th:attr="data-project-id=${project.id}" onclick="deleteProject(this)">Delete Project</i>
    <a th:href="@{/homepage}" style="color: white">Go Back</a>
  </div>
  <input type="hidden" id="projectId" th:value="${project.id}"/>

  <div class="board">
    <div class="lanes">
      <th:block th:each="bar, iterStat : ${project.bars}">
        <div class="bar-container">
          <div class="swim-lane" th:id="${bar.name}" th:attr="data-bar-id=${bar.id},data-bar-position=${iterStat.index} + 1">
          <div class="bar-header">
              <div class="bar-name-wrapper" th:attr="data-bar-id=${bar.id}" onclick="editBarDescription(this)">
                <h3 class="heading" th:text="${bar.name}"></h3>
              </div>
              <i class="fas fa-times delete-bar" th:attr="data-bar-id=${bar.id}" onclick="deleteBar(this)"></i>
            </div>
            <div th:each="task : ${bar.project.tasks}"
                 th:classappend="${task.priority == 1} ? 'priority-one' : (${task.priority == 2} ? 'priority-two' : 'priority-three')"
                 th:if="${task.state.toString() == bar.name}"
                 class="task"
                 th:attr="data-task-id=${task.id}">

               <span class="priority-label"
                     th:classappend="${task.priority == 1} ? 'priority-one' : (${task.priority == 2} ? 'priority-two' : 'priority-three')"
                     th:text="${task.priority == 1} ? 'LOW' : (${task.priority == 2} ? 'MEDIUM' : 'HIGH')">
              </span>

              <p th:text="${task.name}"
                 onclick="editTaskName(this); displayTaskName('${task.name}')"
                 th:attr="data-task-id=${task.id}">
              </p>

              <div class="additional-content" th:attr="data-task-id=${task.id}" onclick="openDescriptionBox(this)">
                <p class="task-description-hidden" th:text="${task.description}" style="display:none;"></p>
              </div>

              <div class="task-actions">
                <div class="right-side-actions">
                  <i class="fas fa-times delete-task" th:attr="data-task-id=${task.id}" onclick="deleteTask(this)"></i>
                  <p class="task-priority" th:text="${task.priority}" onclick="createPriorityDropdown(this)" th:attr="data-task-id=${task.id}"></p>
                </div>
              </div>
            </div>
            <div class ="form-container" style="display:none;"></div>
            <a class ="open-form-btn" href="#" role="button">
              <i class="fas fa-plus"></i> Add Issue
            </a>

          </div>
        </div>
      </th:block>
      <div id="add-bar-form-container" style="display:none;">
        <form id="add-bar-form">
          <input type="text" id="new-bar-name" placeholder="Add Card" />
          <button type="submit" class="tick-button"><i class="fas fa-check"></i></button>
        </form>
      </div>
      <a id="open-bar-form-btn" href="#" role="button" style="text-decoration: none; color: black;">
        <i class="fas fa-plus fa-lg"></i><span style="opacity: 0;">.</span>
      </a>
    </div>
  </div>
</div>

<div id="taskDescriptionOverlay">
  <div id="taskDescriptionBox">
    <h3 id="taskNameShow">ADD TITLE HERE - TODO</h3>
    <div id="editor-toolbar"></div>
    <div id="editor" style="height: 80%; margin-top: 10px;"></div>

    <button class="saveDescBtn" onclick="saveDescription()">Save</button>
    <button class="closeDescBtn" onclick="closeDescriptionBox()">Close</button>
  </div>
</div>

</body>
</html>
